name: periodic check

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0,12 * * *'

env:
  DB_PATH: ./db.sqlite
  ASTAR_ENDPOINT: https://rpc.astar.network

jobs:
  tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
        cache: 'yarn'

    - run: yarn --immutable

    - run: yarn update-env

    - run: yarn test | tee output.txt ; exit ${PIPESTATUS[0]}

    - if: ${{ failure() }}
      run: grep -q "Test timed out" output.txt && echo "TIMEOUT=true" >> $GITHUB_ENV || exit 0

    - uses: ravsamhq/notify-slack-action@v2
      if: ${{ failure() && env.TIMEOUT != 'true' }}
      with:
        status: ${{ job.status }}
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
